<v-card-text>
  <div style="padding: 5%;">
    <v-row>
      <v-text-field 
      v-model="$store.state.global.dataForm.endpoint" 
      required
      :rules="[...form.validation.endpoint]"
      hidden
      style="display: none;"
      ></v-text-field>
      <v-text-field 
      v-model="$store.state.global.dataForm.method" 
      required
      :rules="[...form.validation.method]"
      hidden
      style="display: none;"
      ></v-text-field>
      <v-col
        cols="12"
        sm="12"
        md="12"
      >
        <v-text-field
          @keydown.stop="resetValidation('titulo')"
          label="Título*"
          v-model="$store.state.global.dataForm.titulo"
          :rules="[...form.validation.titulo]"
          required
        ></v-text-field>
      </v-col>
      <v-col
        cols="12"
        sm="12"
        md="12"
      >
        <v-text-field
          @keydown.stop="resetValidation('descricao')"
          label="Descrição*"
          v-model="$store.state.global.dataForm.descricao"
          :rules="[...form.validation.descricao]"
          required
        ></v-text-field>
      </v-col>
      <v-col
        cols="12"
        sm="6"
      >
        <v-select
          @change="resetValidation('prazo')"
          :items="['curto', 'médio', 'longo']"
          label="Prazo*"
          v-model="$store.state.global.dataForm.prazo"
          :rules="[...form.validation.prazo]"
          required
        ></v-select>
      </v-col>
      <v-col
        cols="12"
        sm="6"
      >
        <v-select
          @change="resetValidation('aplicacao')"
          :items="['profissional', 'pessoal']"
          label="Aplicação*"
          v-model="$store.state.global.dataForm.aplicacao"
          :rules="[...form.validation.aplicacao]"
          required
        ></v-select>
      </v-col>

      <v-col
        cols="12"
        sm="12"
        md="6"
        class="mt-5"
      >
      <v-slider
        style="padding: 0 0 0 0;margin: 0 0 0 0;"
        :label="rangerImpacto.label"
        :thumb-color="rangerImpacto.color"
        thumb-label="always"
        @change="resetValidation('impacto')"
        v-model="$store.state.global.dataForm.impacto"
        :rules="[...form.validation.impacto]"
        required
    ></v-slider>
      </v-col>
      <v-col
        cols="12"
        sm="12"
        class="mt-5"
        md="6"
      >
      <v-slider
        style="padding: 0 0 0 0;margin: 0 0 0 0;"
        :label="rangerConcluida.label"
        :thumb-color="rangerConcluida.color"
        thumb-label="always"
        @change="resetValidation('concluida')"
        v-model="$store.state.global.dataForm.concluida"
        :rules="[...form.validation.concluida]"
        required
    ></v-slider>
      </v-col>
    </v-row>
  </div>
  <small>Campos com * são obrigatórios!</small>
</v-card-text>
